*{
    margin: 0;
    padding: 0;
}

#encabezado{
    background-color: white;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 7px;
}

.btnsMenu{ 
    padding-top: 8px;
    margin: 5px;
    float: right;
    
}

#txtMenu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 3px;
    font-size: 20px;
    border-radius: 8px;
}

#imgLogo{
    width: 150px;
    height: 50px;
    vertical-align: middle;
    padding-left: 2%;
    border-radius: 20px;
}

.iconMenu{
    margin-top: 4px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 2px;
}


/*//////////MENU////////////////*/

#subtitulo{
    background-color: #F2F3F4;
    margin-top: 0%;
    padding: 10px;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 0%;
}
/*/////////SUBTITULO////////////*/

.contenedor-cursos{
    margin-top: 0%;
    padding-top: 20px;
    margin-left: 5%;
}
#tablaCursos{
    border-collapse: collapse;
    width: 95%;
    
}

#tablaCursos img{
    width: 340px;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
}

#tablaCursos a{
    text-decoration: none;
    color: inherit;
    width: 100%;
    
}
#tablaCursos h3{
    width: 80%;
    margin-left: 10% ;
    text-align: center;
    margin-top: -4px;
    color: azure;
    background-color:#424949;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
}

th,td{
    margin: 0px;
    width: 25%;
    text-align: center;
    border-collapse: collapse;
}


/*//////////CONTENEDOR CURSOS////////////*/
















/*///////RESPONSIVE DESIGN ////////////*/
    
    /*MENU*/

    @media only screen and (max-width: 650px) {
        #imgLogo{
            padding-left: 1%;
            width: 130px;
            height: 40px;
        }
        #txtMenu{
            font-size: 15px;
        }
        .btnsMenu{
            padding: 0%;
        }
      }


      @media only screen and (max-width: 541px) {
        .btnsMenu{
            width: 90%;
        }
        .btnsMenu button{
            display: block;
            width: 90%;
        }

        
        
        #imgLogo{
            display: block;
            width: 90%;
            padding : 5%;
            padding-top: 1%;
            padding-bottom: 2%;
            height: 80px;
        }
        #encabezado{
            height: 210px;
        }
      }
